@model WebLayer.Models.HomeViewModel

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-controller="Home" asp-action="Create" class="btn btn-primary">Create</a>
@if (Model.Products.Any())
{
	<table class="table">
		<thead>
		<th>Product Name</th>
		<th>Product Description</th>
		<th>Product Price</th>
		<th></th>
		</thead>
		<tbody>
			@foreach (var p in Model.Products)
			{
				<tr>
					<td>@p.ProductName</td>
					<td>@p.ProductDescription</td>
					<td>@p.ProductPrice €</td>
					<td>
						<a asp-controller="Home" asp-action="Edit" asp-route-id="@p.Id" class="btn btn-warning">Edit</a>
						<a asp-action="Delete" asp-controller="Home"  asp-route-id="@p.Id" class="btn btn-danger">Delete</a>
						
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="bg-warning text-danger">No Products</div>
}

